<footer class="gh-foot gh-outer">
    <div class="gh-foot-inner gh-inner">
        <div>
            {{@site.title}} © {{date format="YYYY"}}
        </div>
        <div>
            <a href="https://railsgrowth.com/contact/">Contact</a>
        </div>
    </div>
</footer>
