<footer class="gh-foot{{#unless @site.secondary_navigation}} no-menu{{/unless}} gh-outer">
    <div class="gh-foot-inner gh-inner">
        <div class="gh-copyright">
            {{@site.title}} © {{date format="YYYY"}}
        </div>
        <div class="gh-powered-by">
            {{#if @site.secondary_navigation}}
            <nav class="gh-foot-menu">
                {{navigation type="secondary"}}
            </nav>
        {{/if}}
        </div>
    </div>
</footer>
