{{!< default}}
<main class="site-main">
    <header class="feed-header gh-canvas">
        <div class="feed-header-wrapper">
            <h2 class="feed-header-title">What's New:</h2>
        </div>
    </header>
    <div class="post-feed expanded right-thumbnail gh-feed gh-canvas">
        {{#get "posts" limit="all" include="tags,authors"}}
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        {{/get}}
    </div>
    {{#if pagination}}
        {{pagination}}
    {{/if}}
</main>
{{#contentFor "body_class"}}{{#if @site.cover_image}} with-full-cover is-head-transparent{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}
